$blackColor : #000;
$whiteColor : #fff;
$lightGrey : #ccc;
$bgMainColor : #F0F0EE;
$materialBlue700: #1976D2;

$imageUrl : "https://i.pinimg.com/originals/67/3e/55/673e55188d46f814ede3fedcf4fa8a2a.jpg";

@keyframes fromLeft {
    from {margin-left: -50%;}
    to {margin-left: 0;}
}

@keyframes fromRight {
    from {margin-right: -50%;}
    to {margin-right: 0;}
}

*{
    padding: 0px;
    margin: 0px;
    border:none;
    outline: none;
    -webkit-transition: all 0.5s ease;  
    -moz-transition: all 0.5s ease;  
    -o-transition: all 0.5s ease;  
    -ms-transition: all 0.5s ease;  
    transition: all 0.5s ease;  
}

html{
    padding:0px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: $bgMainColor; 
    ///overflow: hidden;
}

body{
    padding: 0px;
    margin: 0px;
    //overflow-y: auto;
    //overflow-x: hidden;
    //-webkit-overflow-scrolling: touch;
    //-webkit-perspective: 1px;
    //perspective:1px;
    height: 100vh;
}

.main-wrapper{

    padding: 0px;

    h1{
        padding: 10px;
        width: 100%;
        font-size: 5em;
        opacity: .5;
    }

    .video-bg{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: $blackColor;

        video{
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translateX(-50%) translateY(-50%);
            transition: 1s opacity;
            opacity: 0.5;
        }

        .video-pattern{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100vh;
            background: url(../assets/pattern.png);
            background-repeat: repeat;
        }
    }

    .menu-nav{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 35px;
        background: rgba($color: $blackColor, $alpha: 0.5);

        i{
            color:$whiteColor;

            a{
                width: 100%;
                height: 100%;
                float: left;
            }
        }

        .menu-button{
            float: left;
            width: 35px;
            height: 35px;
            margin-left: 10px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
        }

        .menu-button span{
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: $whiteColor;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
        
        .menu-button span:nth-child(1) {
            top: 5px;
        }
        
        .menu-button span:nth-child(2) {
            top: 15px;
        }
        
        .menu-button span:nth-child(3) {
            top: 25px;
        }
        
        .menu-button.open span:nth-child(1) {
            top: 15px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }
        
        .menu-button.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }
        
        .menu-button.open span:nth-child(3) {
            top: 15px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }

        .menu-user, .menu-github{
            text-align: center;
            line-height: 35px;
            width: 35px;
            height: 35px;
            cursor: pointer;
            font-size: 1em;
        }

        .menu-user, .menu-github{
            float: right;
        }

        nav{
            width: 350px;
            height: 35px;
            margin-left: -350px;

            a{
                cursor: pointer;
                text-decoration: none;
                outline: none;
                border: none;
                color:$whiteColor;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;                
            }
        }

        .menu-animated{
            margin-left: 0px;
            -webkit-transition: all 1s ease;  
            -moz-transition: all 1s ease;  
            -o-transition: all 1s ease;  
            -ms-transition: all 1s ease;  
            transition: all 1s ease;
        }
    }

    .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 250px;
        height: 95px;
        margin-left: -125px;
        margin-top: -50px;
        background: url('../assets/logo.png') no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    .window{
        position: absolute;
        top: 0px;
        left: 0px;
        width: auto;
        height: auto;
        padding: 20px;
        background:$lightGrey;
        visibility: hidden;
    }

    section{
        min-height: 100vh;
        min-width: 100%;
        padding: 0px;

        .side-by-side-wrapper{
            overflow: hidden;
            height: 100vh;
            width: 100%;

            .side-image{
                width: 100%;
                height: 100%;
                background: url($imageUrl) no-repeat;
                background-size: cover;
                background-position: center;
                -webkit-transform: translateZ(-1px) scale(2);
                transform: translateZ(-1px) scale(2);
            }
        }

    }

    .about{
        margin-top: 100vh;
        -webkit-transform-style:preserve-3d;
        transform-style: preserve-3d;
    }

    .projects{
        overflow: hidden;
    }

    /*CUSTOM*/

    .projects-content{
        .side-text{
            padding: 20px;
            font-size: 0.8em;
            overflow: auto;
            height: auto;
            width: 100%;
            text-align: left;
        }

        .side-logos{
            display: flex;
            width: 100%;
            height: auto;
            padding: 50px;
            padding-top: 0px;
            padding-bottom: 0px;
            justify-content: center;
            align-content: center;
            list-style: none;

            li{
                align-content: center;
                text-align: center;
                flex: 1;
                cursor: pointer;

                i{
                    text-align: center;
                    font-size: 2em;
                    color:$blackColor;
                }
            }
        }
    }

    .projects-list{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        list-style: none;

        .projects-element{
            flex:30%;
            height: 30%;
            background: #ccc;
            overflow: hidden;
            cursor: pointer;

            img{
                height: 110%;
            }

            &:hover{
                opacity: 0.2;
            }
        }
    }

    .contacts{
        
        .contact-img{
            width: 100%;
            height: 100%;
            background: url('https://static.pexels.com/photos/362/marketing-man-person-communication.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }

        .contacts-content{

            display: flex;
            justify-content: space-around;
            align-content: center;
            align-items: center;
            flex-direction: column;

            form{
                width: 100%;
                padding: 20px;

                input, textarea{
                    padding: 10px;
                    width: 100%;
                    font-size: 0.8em;
                    border:1px solid $lightGrey;
                    border-radius: 5px;
                    margin-bottom: 10px;
                }

            }

        }
       

    }

    .login-window{
        position: absolute;
        top: 35px;
        left: calc(100vw);
        width: 250px;
        height: auto;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;

        form{

            width: 100%;

            input{
                border:1px solid #ccc;
                border-radius: 5px;
                color:$blackColor;
                font-size: 0.6em;
                padding: 10px;
                width: 100%;
                margin-bottom: 10px;
            }

            label{
                width: 100%;
                color:#ccc;
                font-size: 0.8em;
            }

            button{
                border-radius: 5px;
                outline: none;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 100%;
                padding: 5px;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 20px;
                background: $materialBlue700;
                color:#fff;
                font-size: 0.8em;
                cursor: pointer;
            }

        }

        .sign-in{
            border-top:1px solid #fff;
            padding: 10px;
            width: 100%;
            text-align: center;
            font-size: 0.6em;
            color:$materialBlue700;
            cursor: pointer;
        }
    }

    .login-window-on{
        left: calc(100vw - 250px);
        opacity: 1;
    }

}