@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype"); }

@keyframes fromLeft {
  from {
    margin-left: -50%; }
  to {
    margin-left: 0; } }

@keyframes fromRight {
  from {
    margin-right: -50%; }
  to {
    margin-right: 0; } }

* {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 20px;
  font-weight: normal;
  font-kerning: normal;
  font-style: normal;
  line-height: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  text-decoration: none;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome and Opera */ }

.row {
  padding: 0;
  margin: 0; }
  .row * {
    padding: 0;
    margin: 0; }

.container-fluid {
  padding: 0;
  margin: 0; }

html,
body {
  background-color: #1c1c1c;
  overflow-x: hidden;
  overflow-y: auto; }

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  color: #887949; }

p,
i,
a,
strong {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 1em; }

a:hover,
a:active {
  color: #887949; }

p {
  font-size: 0.8em; }

section {
  min-height: 100vh;
  min-width: 100%;
  padding: 0px;
  overflow: hidden; }
  section .side-by-side-wrapper {
    overflow: hidden;
    height: 100vh;
    width: 100%; }

.main-wrapper {
  /*CUSTOM*/ }
  .main-wrapper .video-bg,
  .main-wrapper .video-pattern {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000; }
    .main-wrapper .video-bg video,
    .main-wrapper .video-pattern video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%);
      transition: 1s opacity;
      opacity: 0.5; }
    .main-wrapper .video-bg .video-pattern,
    .main-wrapper .video-pattern .video-pattern {
      background: url(../assets/pattern.png);
      background-repeat: repeat; }
    .main-wrapper .video-bg .scroll-indicator,
    .main-wrapper .video-pattern .scroll-indicator {
      position: absolute;
      bottom: 0px;
      left: calc(50% - 65px);
      width: 130px;
      height: 100px;
      -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
      border-radius: 50% 50% 50% 50% / 60% 60% 0% 0%;
      background: rgba(204, 204, 204, 0.5);
      cursor: pointer; }
      .main-wrapper .video-bg .scroll-indicator:hover,
      .main-wrapper .video-pattern .scroll-indicator:hover {
        height: 130px;
        border-radius: 1000px; }
        .main-wrapper .video-bg .scroll-indicator:hover i,
        .main-wrapper .video-pattern .scroll-indicator:hover i {
          font-size: 2em;
          pointer-events: none; }
      .main-wrapper .video-bg .scroll-indicator i,
      .main-wrapper .video-pattern .scroll-indicator i {
        color: #fff;
        text-align: center;
        line-height: 130px;
        width: 100%; }
  .main-wrapper .menu-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    background: rgba(0, 0, 0, 0.5); }
    .main-wrapper .menu-nav i {
      color: #fff; }
      .main-wrapper .menu-nav i a {
        width: 100%;
        height: 100%;
        float: left; }
    .main-wrapper .menu-nav .menu-button {
      float: left;
      width: 35px;
      height: 35px;
      margin-left: 10px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer; }
    .main-wrapper .menu-nav .menu-button span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.55s ease-in-out;
      -moz-transition: 0.55s ease-in-out;
      -o-transition: 0.55s ease-in-out;
      transition: 0.55s ease-in-out; }
    .main-wrapper .menu-nav .menu-button span:nth-child(1) {
      top: 5px; }
    .main-wrapper .menu-nav .menu-button span:nth-child(2) {
      top: 15px; }
    .main-wrapper .menu-nav .menu-button span:nth-child(3) {
      top: 25px; }
    .main-wrapper .menu-nav .menu-button.open span:nth-child(1) {
      top: 15px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    .main-wrapper .menu-nav .menu-button.open span:nth-child(2) {
      opacity: 0;
      left: -60px; }
    .main-wrapper .menu-nav .menu-button.open span:nth-child(3) {
      top: 15px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    .main-wrapper .menu-nav .menu-user,
    .main-wrapper .menu-nav .menu-github {
      text-align: center;
      line-height: 35px;
      width: 35px;
      height: 35px;
      cursor: pointer;
      font-size: 1em; }
    .main-wrapper .menu-nav .menu-user,
    .main-wrapper .menu-nav .menu-github {
      float: right; }
    .main-wrapper .menu-nav nav {
      width: 100%;
      height: 100%;
      margin-left: 100vw;
      opacity: 0; }
      .main-wrapper .menu-nav nav a {
        cursor: pointer;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        font-size: 0.8em;
        line-height: 35px; }
    .main-wrapper .menu-nav .menu-animated {
      margin-left: 0px;
      opacity: 1;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease; }
  .main-wrapper .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 95px;
    margin-left: -125px;
    margin-top: -50px;
    background: url("../assets/logo.png") no-repeat;
    background-size: cover;
    cursor: pointer; }
  .main-wrapper .window {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    padding: 20px;
    background: #ccc;
    visibility: hidden; }
  .main-wrapper .about {
    margin-top: 100vh; }
    .main-wrapper .about .side-image {
      width: 100%;
      height: 100%;
      background: url("https://i.pinimg.com/originals/67/3e/55/673e55188d46f814ede3fedcf4fa8a2a.jpg") no-repeat;
      background-size: cover;
      background-position: center; }
    .main-wrapper .about h1 {
      width: 50%; }
    .main-wrapper .about .about-content {
      padding: 40px; }
      .main-wrapper .about .about-content .side-text {
        padding-top: 40px;
        padding-bottom: 40px;
        overflow: auto;
        height: auto;
        width: 100%;
        text-align: left; }
      .main-wrapper .about .about-content .side-logos {
        display: flex;
        width: 100%;
        height: auto;
        padding: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: center;
        align-content: center;
        list-style: none; }
        .main-wrapper .about .about-content .side-logos li {
          align-content: center;
          text-align: center;
          flex: 1;
          cursor: pointer; }
          .main-wrapper .about .about-content .side-logos li i {
            text-align: center;
            font-size: 2em; }
  .main-wrapper .projects > h1 {
    padding: 40px 0 40px 20px; }
  .main-wrapper .projects .projects-wrapper .project-item {
    height: calc(50vh - 15px);
    cursor: pointer;
    overflow: hidden; }
    .main-wrapper .projects .projects-wrapper .project-item .pj-img-wrapper {
      text-align: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      background: url("https://static.pexels.com/photos/373076/pexels-photo-373076.jpeg") no-repeat;
      background-size: cover;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      cursor: pointer; }
      .main-wrapper .projects .projects-wrapper .project-item .pj-img-wrapper:hover {
        box-shadow: rgba(136, 121, 73, 0.5) 0px 2px 2px, rgba(136, 121, 73, 0.5) 0px 4px 4px, rgba(136, 121, 73, 0.5) 0px 8px 8px, rgba(136, 121, 73, 0.5) 0px 16px 16px, rgba(136, 121, 73, 0.5) 0px 32px 32px, rgba(136, 121, 73, 0.5) 0px 64px 64px; }
      .main-wrapper .projects .projects-wrapper .project-item .pj-img-wrapper .pj-go-btn {
        width: 100px;
        height: 100px;
        background: #887949; }
        .main-wrapper .projects .projects-wrapper .project-item .pj-img-wrapper .pj-go-btn i {
          font-size: 1.5em;
          line-height: 100px;
          width: 100%;
          text-align: center; }
    .main-wrapper .projects .projects-wrapper .project-item .pj-text-wrapper {
      padding: 40px; }
      .main-wrapper .projects .projects-wrapper .project-item .pj-text-wrapper h1 {
        width: 40%;
        font-size: 3em; }
      .main-wrapper .projects .projects-wrapper .project-item .pj-text-wrapper p {
        width: 50%;
        margin-top: 30px; }
  .main-wrapper .projects .projects-wrapper .project-item:nth-child(even) {
    flex-flow: row-reverse; }
  .main-wrapper .projects .more-button {
    width: 100%;
    padding: 10px;
    height: 100px;
    text-align: center;
    background: rgba(204, 204, 204, 0.1);
    cursor: pointer; }
    .main-wrapper .projects .more-button i {
      font-size: 1.5em;
      color: #fff;
      line-height: 90px; }
  .main-wrapper .contacts:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("https://static.pexels.com/photos/346731/pexels-photo-346731.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transform: translateZ(-100px);
    transform: translateZ(-100px); }
  .main-wrapper .contacts .contacts-form-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 100px; }
    .main-wrapper .contacts .contacts-form-wrapper .contacts-content {
      flex: 1;
      align-self: center; }
      .main-wrapper .contacts .contacts-form-wrapper .contacts-content * {
        flex: 1; }
      .main-wrapper .contacts .contacts-form-wrapper .contacts-content form {
        margin-top: 20px; }
        .main-wrapper .contacts .contacts-form-wrapper .contacts-content form input,
        .main-wrapper .contacts .contacts-form-wrapper .contacts-content form textarea {
          padding: 10px;
          width: 100%;
          font-size: 0.8em;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-bottom: 10px; }
        .main-wrapper .contacts .contacts-form-wrapper .contacts-content form textarea {
          min-height: 150px;
          max-height: 250px; }
  .main-wrapper .contacts .contact-links {
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center; }
    .main-wrapper .contacts .contact-links .contact-list {
      flex: 1; }
      .main-wrapper .contacts .contact-links .contact-list ul {
        height: 250px;
        overflow: hidden; }
        .main-wrapper .contacts .contact-links .contact-list ul li {
          padding: 10px;
          list-style: none;
          color: #fff; }
          .main-wrapper .contacts .contact-links .contact-list ul li :nth-child(1) {
            font-weight: bold; }
          .main-wrapper .contacts .contact-links .contact-list ul li i {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            padding-right: 60px; }
          .main-wrapper .contacts .contact-links .contact-list ul li a {
            height: 30px; }
  .main-wrapper .login-window {
    position: absolute;
    top: 35px;
    left: calc(100vw);
    width: 250px;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; }
    .main-wrapper .login-window form {
      width: 100%; }
      .main-wrapper .login-window form input {
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #000;
        font-size: 0.6em;
        padding: 10px;
        width: 100%;
        margin-bottom: 10px; }
      .main-wrapper .login-window form label {
        width: 100%;
        color: #ccc;
        font-size: 0.8em; }
      .main-wrapper .login-window form button {
        border-radius: 5px;
        width: 100%;
        padding: 5px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        background: #1976d2;
        color: #fff;
        font-size: 0.8em;
        cursor: pointer; }
    .main-wrapper .login-window .sign-in {
      border-top: 1px solid #fff;
      padding: 10px;
      width: 100%;
      text-align: center;
      font-size: 0.6em;
      color: #1976d2;
      cursor: pointer; }
  .main-wrapper .login-window-on {
    left: calc(100vw - 250px);
    opacity: 1; }
