@keyframes fromLeft {
  from {
    margin-left: -50%; }
  to {
    margin-left: 0; } }

@keyframes fromRight {
  from {
    margin-right: -50%; }
  to {
    margin-right: 0; } }

* {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

html {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #F0F0EE;
  overflow: hidden; }

body {
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-perspective: 1px;
  perspective: 1px;
  height: 100vh; }

.main-wrapper {
  padding: 0px; }
  .main-wrapper .video-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000; }
    .main-wrapper .video-bg video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%);
      transition: 1s opacity;
      opacity: 0.5; }
    .main-wrapper .video-bg .video-pattern {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100vh;
      background: url(../imgs/pattern.png);
      background-repeat: repeat; }
  .main-wrapper .menu-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    background: rgba(0, 0, 0, 0.5); }
    .main-wrapper .menu-nav i {
      color: #fff; }
      .main-wrapper .menu-nav i a {
        width: 100%;
        height: 100%;
        float: left; }
    .main-wrapper .menu-nav .menu-button {
      float: left;
      width: 35px;
      height: 35px;
      margin-left: 10px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
    .main-wrapper .menu-nav .menu-button span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .main-wrapper .menu-nav .menu-button span:nth-child(1) {
      top: 5px; }
    .main-wrapper .menu-nav .menu-button span:nth-child(2) {
      top: 15px; }
    .main-wrapper .menu-nav .menu-button span:nth-child(3) {
      top: 25px; }
    .main-wrapper .menu-nav .menu-button.open span:nth-child(1) {
      top: 15px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    .main-wrapper .menu-nav .menu-button.open span:nth-child(2) {
      opacity: 0;
      left: -60px; }
    .main-wrapper .menu-nav .menu-button.open span:nth-child(3) {
      top: 15px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    .main-wrapper .menu-nav .menu-user, .main-wrapper .menu-nav .menu-github {
      text-align: center;
      line-height: 35px;
      width: 35px;
      height: 35px;
      cursor: pointer;
      font-size: 1em; }
    .main-wrapper .menu-nav .menu-user, .main-wrapper .menu-nav .menu-github {
      float: right; }
    .main-wrapper .menu-nav nav {
      width: 350px;
      height: 35px;
      margin-left: -350px; }
      .main-wrapper .menu-nav nav a {
        cursor: pointer;
        text-decoration: none;
        outline: none;
        border: none;
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center; }
    .main-wrapper .menu-nav .menu-animated {
      margin-left: 0px;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease; }
  .main-wrapper .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 95px;
    margin-left: -125px;
    margin-top: -50px;
    background: url("../imgs/logo.png") no-repeat;
    background-size: cover;
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    cursor: pointer; }
  .main-wrapper .window {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    padding: 20px;
    background: #ccc;
    visibility: hidden; }
  .main-wrapper .about {
    margin-top: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .main-wrapper .projects {
    overflow: hidden; }
  .main-wrapper section {
    min-height: 100vh;
    min-width: 100%;
    padding: 0px; }
    .main-wrapper section .side-by-side-wrapper {
      overflow: hidden;
      height: 100vh;
      width: 100%; }
      .main-wrapper section .side-by-side-wrapper .side-text {
        padding: 50px;
        font-size: 0.8em;
        overflow: auto;
        height: auto;
        width: 100%;
        text-align: center; }
      .main-wrapper section .side-by-side-wrapper .side-logos {
        display: flex;
        width: 100%;
        height: auto;
        padding: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: center;
        align-content: center;
        list-style: none; }
        .main-wrapper section .side-by-side-wrapper .side-logos li {
          align-content: center;
          text-align: center;
          flex: 1;
          cursor: pointer; }
          .main-wrapper section .side-by-side-wrapper .side-logos li i {
            text-align: center;
            font-size: 2em;
            color: #000; }
    .main-wrapper section .side-image {
      width: 100%;
      height: 100%;
      background: url("https://i.pinimg.com/originals/67/3e/55/673e55188d46f814ede3fedcf4fa8a2a.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      -webkit-transform: translateZ(-1px) scale(2);
      transform: translateZ(-1px) scale(2); }
    .main-wrapper section .projects-list {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      list-style: none; }
      .main-wrapper section .projects-list .projects-element {
        flex: 30%;
        height: 30%;
        background: #ccc;
        overflow: hidden;
        cursor: pointer; }
        .main-wrapper section .projects-list .projects-element img {
          height: 110%; }
        .main-wrapper section .projects-list .projects-element:hover {
          opacity: 0.2; }
